.row {
    display: flex;
}
.row input[type=text] {
    flex: 1;
}
.row input[type=checkbox] {
    margin: auto 0.5em;
}
input[type=text] {
    padding: .33em;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1px;
}
.category {
    margin: 0.5em 0;
}
.add-button {
    background-color: lime;
}
.remove-button {
    background-color: #FF4040;
}
.add-button, .remove-button {
    border: none;
    padding: auto;
    width: 1.35em;
    height: 1.35em;
    border-radius: .5em;
    float: right;
    margin: 0.5em 0.2em;
}